.setting .main {
  border-color: #F2DEDF;
}
.setting .main > .panel-heading {
  color: #55C0E0;
  background-color: #D9EDF8;
}
.setting .main > .panel-heading img {
  width: 20px;
}
.setting .main > .panel-body {
  text-align: center;
  padding: 40px 35px;
}
.setting .main > .panel-body form {
  display: inline-block;
  width: 300px;
  /*    position: absolute;
            top: 50%;
            left: 50%;
            margin: 50px 0px 0px -150px;*/
}
.setting .main > .panel-body form input {
  max-width: 300px;
}
.setting .main > .panel-body form input[type=submit] {
  width: 100%;
}
