.tag .label {
  display: inline-block;
  margin: 0px 2px 0px 0px;
  font-size: 70%;
}
.tag .main {
  border-color: #F2DEDF;
}
.tag .main > .panel-heading {
  color: #DB5287;
  background-color: #F2DEDF;
}
.tag .main > .panel-body {
  padding: 40px 35px;
}
.tag .main > .panel-body .panel-group {
  border: 1px solid #F2DEDF;
  border-radius: 3px;
  margin-bottom: 0px;
}
.tag .main > .panel-body .panel-group .panel {
  border: 0px solid transparent;
  margin: 0px;
}
.tag .main > .panel-body .panel-group .panel + .panel {
  border-top: 1px solid #F2DEDF;
}
.tag .main > .panel-body .panel-group .panel .panel-heading {
  padding: 15px 10px;
  background-color: #FDFDFD;
}
.tag .main > .panel-body .panel-group .panel .panel-body p {
  padding: 10px 15px;
}
